{% extends "base.html" %}

{% block content %}

<div class="hero">
    <div hide hide show-gt-sm class="hero_text">
        <h1>{{ page.title|upper }}</h1>
    </div>
</div>

<div class="strip primary-strip">
    <div class="strip-content">
        <h1 hide-gt-sm class="md-headline">{{ page.title }}</h1>
        <p class="md-subhead">{{ page.sub_title|nl2br }}</p>
    </div>
</div>

{% if page.gallery_enabled %}
<div class="strip default-strip">
    <div class="strip-content">
        <md-card class="hp-card" layout="row">
            <md-card-title flex>
                <md-card-title-text>
                    <span class="md-headline">{{ page.gallery_title }}</span>
                    <span class="md-subhead">{{ page.gallery_copy|nl2br }}</span>
                </md-card-title-text>
                <div class="hp-card-actions">
                    <md-button href="{{ page.gallery_cta_url }}">{{ page.gallery_cta_label }}</md-button>
                </div>
            </md-card-title>
            <div hide show-gt-xs flex class="hp-card-img">
                <img src="{{ page.gallery_image_bucket_url }}">
            </div>
        </md-card>
    </div>
</div>
{% endif %}

<div class="strip default-strip">
    <div class="strip-content">
        <md-card class="hp-card" layout="row">
            <div class="workshop-video">
                <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fsharonregan66%2Fvideos%2F2018447388226129%2F&show_text=0&width=560" width="560" height="420" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe>
            </div>
        </md-card>
    </div>
</div>

{% if page.workshops_enabled %}
<div class="strip default-strip">
    <div class="strip-content" ng-controller="WorkshopsCtrl" >
        <md-card class="hp-card" layout="row">
            <md-card-title flex>
                <md-card-title-text>
                    <span class="md-headline">{{ page.workshops_title }}</span>
                    <span class="md-subhead">{{ page.workshops_copy|nl2br }}</span>
                </md-card-title-text>
                <div class="hp-card-actions">
                    <md-button ng-click="showEventPrompt($event)" >{{ page.workshops_cta_label }}</md-button>
                </div>
            </md-card-title>
            <div hide show-gt-xs flex class="hp-card-img">
                <img src="{{ page.workshops_image_bucket_url }}">
            </div>
        </md-card>
    </div>
</div>
{% endif %}

{% if page.events_enabled %}
<div class="strip default-strip">
    <div class="strip-content">
        <md-card class="hp-card" layout="row">
            <md-card-title flex>
                <md-card-title-text>
                    <span class="md-headline">{{ page.events_title }}</span>
                    <span class="md-subhead">{{ page.events_copy|nl2br }}</span>
                </md-card-title-text>
                <div class="hp-card-actions">
                    <md-button target="_blank" href="{{ page.events_cta_url }}">{{ page.events_cta_label }}</md-button>
                </div>
            </md-card-title>
            <div hide show-gt-xs flex class="hp-card-img">
                <img src="{{ page.events_image_bucket_url }}">
            </div>
        </md-card>
    </div>
</div>
{% endif %}

{% endblock %}
