{% extends "base.html" %}

{% block content %}

<div class="hero"></div>

<div class="strip primary-strip">
    <div class="strip-content">
        <h1 class="md-headline">Welcome to sharon regan art</h1>
        <p class="md-subhead">I often find my inspiration whilst out walking the dogs or exploring country lanes on horseback, I love to catch sight of hares, foxes and other wildlife or watching the horses play in the field, it feels like a wonderful gift, a special moment. I aim to capture that moment and bring the outdoors indoors. Watching my subjects gives me pleasure, creating the sculptures from clay brings me pleasure, I hope my sculptures bring you pleasure too.</p>
    </div>
</div>

<a name="gallery"></a>

<div class="strip default-strip">
    <div class="strip-content">
        <h1 class="md-display-1">Gallery</h1>
        <p class="md-subhead">My sculptures reflect my fascination with the duality of strength and fragility found within human existence and nature.</p>
        <md-grid-list md-cols-gt-md="5" md-cols-md="4" md-cols="3" md-row-height-gt-md="1:1" md-row-height="4:3" md-gutter="4px">
            <md-grid-tile class="thumbnail" ng-click="showDialog($event, $index)" ng-repeat="tile in colorTiles" ng-style="{'background-image':'url({[tile.imgSrc]})'}" md-colspan-gt-sm="{[tile.colspan]}" md-rowspan-gt-sm="{[tile.rowspan]}"></md-grid-tile>
        </md-grid-list>
      </md-content>
    </div>
</div>

<a name="contact"></a>

<div class="strip primary-strip">
    <div class="strip-content">
        <h1 class="md-headline">Questions? Comments? Let's talk.</h1>
    </div>
</div>

<div class="strip default-strip">
    <div class="strip-content">
        <form name="recordForm" novalidate class="contact-form">

            <md-card>
                <md-card-content>
                    <h1 class="md-subhead contact-form-header-copy">
                        Fell free to drop me a message for any enquiries about my work, for just for a chat.
                    </h1>
                    <md-input-container class="md-block">
                        <label for="name">Name</label>
                        <input required id="name" name="name" type="text" ng-model="formData.name">
                        <div ng-messages="formData.name.$error" role="alert" class="md-input-message-animation">
                            <div ng-message="server" ng-repeat="error in serverErrors.name track by $index">{[error]}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="email">Email Address</label>
                        <input required type="email" name="email" ng-model="formData.email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
                        <div ng-messages="formData.email.$error" role="alert" class="md-input-message-animation">
                            <div ng-message="server" ng-repeat="error in serverErrors.email track by $index">{[error]}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="subject">Subject</label>
                        <input id="subject" name="subject" type="text" ng-model="formData.subject">
                        <div ng-messages="formData.subject.$error" role="alert" class="md-input-message-animation">
                            <div ng-message="server" ng-repeat="error in serverErrors.subject track by $index">{[error]}</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label for="message">Message</label>
                        <textarea required id="message" name="message" ng-model="formData.message"></textarea>
                        <div ng-messages="formData.message.$error" role="alert" class="md-input-message-animation">
                            <div ng-message="server" ng-repeat="error in serverErrors.message track by $index">{[error]}</div>
                        </div>
                    </md-input-container>
                    <md-button class="contact-form-btn" ng-click="submitForm()">Send Message</md-button>
                </md-card-content>
            </md-card>

        </form>
    </div>
</div>
{% endblock %}
