{% extends 'admin/base.html' %}
{% import 'admin/macros.html' as cms_macros %}
{% set cancel_url = '/'.join(request.url.split('/')[:-1]) %}

{% block content %}

<div ng-init="formData = {{ json_record }}"></div>
<div ng-init="cancel_url = '{{ cancel_url }}'"></div>
<form enctype="multipart/form-data">

    <md-card>
        <md-card-content layout="column">
            {% for field in form %}
                {{ cms_macros.angular_field(field) }}
            {% endfor %}
        </md-card-content>
    </md-card>

    <div>
        <md-button href="{{ cancel_url }}">Cancel</md-button>
        <md-button class="md-raised md-warn" ng-click="submitForm()" ng-disabled="isProcessing">Submit</md-button>
    </div>

</form>

{% endblock %}
