{% extends 'admin/base.html' %}
{% import 'admin/macros.html' as cms_macros %}
{% set cancel_url = '/'.join(request.url.split('/')[:-1]) %}

{% block content %}

<div ng-init="populateForm({{ json_record }})"></div>
<div ng-init="cancel_url = '{{ cancel_url }}'"></div>
<form enctype="multipart/form-data">


    {% for fieldset in form.fieldsets %}
        <md-card>
            {% if fieldset.title %}
                <md-toolbar md-scroll-shrink class="list-header">
                    <div class="md-toolbar-tools">
                        {{ fieldset.title }}

                        {% if fieldset.group_toggle %}
                            {{ cms_macros.angular_field(fieldset.group_toggle) }}
                        {% elif fieldset.link %}
                            <span flex></span>
                        {% endif %}
                        {% if fieldset.link %}
                            <md-button class="md-raised md-default fieldset_link" href="{{ uri_for(fieldset.link.path_name) }}">{{ fieldset.link.label }}</md-button>
                        {% endif %}
                    </div>

                    {% if fieldset.description %}
                        <p class="form-fieldset-desc">{{ fieldset.description }}</p>
                    {% endif %}

                </md-toolbar>
            {% endif %}

            <md-card-content layout="column">
                {% for field in fieldset.fields %}
                    {{ cms_macros.angular_field(form[field]) }}
                {% endfor %}
            </md-card-content>

        </md-card>
    {% endfor %}

    <div>
        <md-button href="{{ cancel_url }}">Cancel</md-button>
        <md-button class="md-raised md-warn" ng-click="submitForm()" ng-disabled="isProcessing">Submit</md-button>
    </div>

</form>

{% endblock %}
