{% macro angular_field(field, readonly=False, disabled=False) %}

    {% if field.type == 'HiddenField' %}
        {{ field() }}
    {% elif field.type == 'DateField' %}
        <md-datepicker ng-model="formData.{{ field.label.field_id }}" name="{{ field.label.field_id }}" md-placeholder="{{ field.label.text }}"></md-datepicker>
        <div ng-messages="form.{{ field.label.field_id }}.$error" class="form-validation-messages md-datepicker-validation-messages">
            <div ng-message="server" ng-repeat="error in serverErrors.{{ field.label.field_id }} track by $index">{[error]}</div>
        </div>
    {% else %}

        <md-input-container flex>
            {% if field.type == 'FileField' %}
                {{ field.label.text }}
                <input id="{{ field.label.field_id }}" name="{{ field.label.field_id }}" type="file" aria-label="{{ field.label.text }}" file-model="imageFields.{{ field.label.field_id }}" {% if disabled %}disabled{% endif %}>
            {% elif field.type == 'TextAreaField' %}
                <label for="{{ field.label.field_id }}">{{ field.label.text }}</label>
                <textarea id="{{ field.label.field_id }}" name="{{ field.label.field_id }}" rows="5" ng-model="formData.{{ field.label.field_id }}" {% if disabled %}disabled{% endif %}></textarea>
            {% elif field.type == 'SelectField' %}
                <md-select id="{{ field.label.field_id }}" name="{{ field.label.field_id }}" ng-model="formData.{{ field.label.field_id }}" placeholder="{{ field.label.text }}" {% if disabled %}disabled{% endif %}>
                    {% for choice in field.choices %}
                        <md-option value="{{choice[0]}}">
                            {{choice[1]}}
                        </md-option>
                    {% endfor %}
                </md-select>
            {% elif field.type == 'BooleanField' %}
                <md-switch ng-model="formData.{{ field.label.field_id }}" aria-label="{{ field.label.text }}" {% if disabled %}disabled{% endif %}>
                    {{ field.label.text }}
                </md-switch>
            {% elif field.type == 'IntegerField' %}
                <label for="{{ field.label.field_id }}">{{ field.label.text }}</label>
                <input type="number" id="{{ field.label.field_id }}" name="{{ field.label.field_id }}" ng-model="formData.{{ field.label.field_id }}" {% if disabled %}disabled{% endif %}>
            {% else %}
                <label for="{{ field.label.field_id }}">{{ field.label.text }}</label>
                <input id="{{ field.label.field_id }}" name="{{ field.label.field_id }}" ng-model="formData.{{ field.label.field_id }}" {% if disabled %}disabled{% endif %}>
            {% endif %}
            <div ng-messages="form.{{ field.label.field_id }}.$error" class="form-validation-messages">
                <div ng-message="server" ng-repeat="error in serverErrors.{{ field.label.field_id }} track by $index">{[error]}</div>
            </div>
        </md-input-container>
        <span class="help-block">{{ field.description }}</span>

    {% endif %}
{% endmacro %}
