/* GLOBAL */
body, md-content {
    background: #f5f5f5;
}
.content-wrapper {
    position: relative;
}
.center {
    text-align: center;
}
.md-button {
    display: inline-table;
}
md-list-item {
    background: #fff;
}

/* SIDE NAV */
img.cms-logo {
    max-width: 240px;
}
.md-button.md-icon-button.menuBtn {
    margin-top: 7px;
    margin-right: 0;
}
md-sidenav.md-sidenav-left {
    width: 250px;
    min-width: 250px;
    max-width: 250px;
}
md-sidenav > md-li {
    padding-left: 20px;
}
.nav-list .md-button {
    color: inherit;
    text-align: left;
    width: 220px;
    padding: 0px 0 0 20px;
    text-transform: none;
    margin: 0;
}
.nav-list .selected {
    color: #03a9f4;
}
.nav-list .secondary-nav-link {
    width: 90%;
    padding-left: 10%;
}
.nav-list .secondary-nav-link .md-button {
    font-weight: normal;
    min-height: 28px;
    line-height: 28px;
}

/* FLASH MESSAGES */
.flash-message-warning {
    background: rgb(244,67,54);
    border-bottom: 1px solid #fff;
    position: relative;
}
.flash-message-warning:last-child {
    border-bottom: none;
}
.flash-message-success {
    background: green;
    border-bottom: 1px solid #fff;
    position: relative;
}
.flash-message-success:last-child {
    border-bottom: none;
}
.flash-close-btn {
    text-align: right;
    position: absolute;
    right: 0;
    top: 8px;
}

/* LISTS */
.list-intro {
    margin-left: 20px;
    margin-bottom: 40px;
    font-size: 1.4em;
}
.list-intro h1 {
    color: rgb(63,81,181);
    font-weight: normal;
}
md-card-content md-list-item.sortable-placeholder {
    padding: 0 16px;
    border-radius: 6px;
    margin: 1px 0;
    background: #e5e5e5;
    height: 40px;
}
md-card-content md-list-item md-list-item {
    padding: 0 16px;
    border-radius: 6px;
    margin: 1px 0;
}
.list-header {
    border-radius: 3px 3px 0 0;
}
.md-subheader .md-subheader-inner {
    padding: 6px 0 6px 16px;
}
.parent-list-record {
    background: rgb(63,81,181);
    color: #fff;
}
md-menu .md-icon-button {
    text-align: right;
}
.actions {
    float: right;
}
.actions a.md-button {
    padding-top: 5px;
}
.actions .md-button {
    height: 35px;
    margin: auto 0;
}
.actions .md-button.md-icon-button, .actions md-icon {
    width: 35px;
}
.actions-push-left{
    padding-right: 39px;
}
.additional-links {
    padding-top: 40px;
    float: right;
    display: flex;
}
.additional-links md-icon {
    display: table-cell;
    width: 100%;
}
.additional-links svg {
    height: 35px;
    width: 35px;
    margin: 0 auto;
}

/* FORMS */
form md-card .md-subhead {
    color: rgb(63,81,181);
    font-size: 1.3em;
    margin: 15px 0px;
    height: 24px;
    display: inline-flex;
    width: 100%;
}
form md-card .list-header md-input-container {
    margin-top: 8px;
}
form md-card .md-subhead md-input-container {
    padding: 0;
    float: right;
}
form md-card .list-header md-input-container .md-label {
    position: absolute;
    right: 55px;
}
form md-card .md-subhead md-input-container .md-label {
    position: absolute;
    right: 55px;
    color: #000;
}
@media only screen and (max-width: 600px) {
    form md-card .list-header md-input-container .md-label {
        display: none;
    }
    form md-card .md-subhead md-input-container .md-label {
        display: none;
    }
}
.form-fieldset-desc {
    margin: 0px 10px 10px;
    font-size: 0.7em;
}
.help-block {
    font-size: 0.8em;
    color: rgb(63,81,181);
    margin-top: -20px;
    display: inherit;
}
md-input-container {
    margin: 0 0 10px;
}
.form-validation-messages {
    text-align: right;
}
.form-validation-messages div {
    width: 100%;
}
.form-action-btns .md-button {
    float: right;
}
md-switch {
    margin: 0;
}
md-switch .md-container {
    position: absolute;
    right: 0;
}
.grouped_fieldset {
}
.grouped_fieldset md-input-container {
    padding-left: 20px;
    margin-left: 12px;
    border-left: 1px solid #e5e5e5;
}
.grouped_fieldset_identifier {
    background: rgb(63,81,181);
    border-radius: 50%;
    padding: 8px;
    color: white;
    line-height: 9px;
    font-size: .7em;
    margin-right: 8px;
}