/* GLOBAL */
html, body, md-content {
    background: #f5f5f5;

    .center {
        text-align: center;
    }
    .align-right {
        text-align: right !important;
    }
    .pull-right {
        float: right;
    }
    .md-button {
        display: inline-table;
    }

    /* SIDE NAV */
    md-sidenav.md-sidenav-left {
        width: 250px;
        min-width: 250px;
        max-width: 250px;

        md-list {
            width: 100%;

            md-item {
                display: inline-flex;

                md-item-content a {
                    text-align: left;
                    width: 250px;
                    margin: 0px 0;
                    padding: 4px 0 4px 20px;
                }
            }
        }
    }

    .md-sidenav-right {
        md-input-container {
            width: 100%;
        }
    }

    #list-card {
        .alternate {
            color: #1e88e5;
            background-color: #e3f2fd;
        }
        .md-toolbar-tools {
            color: #1e88e5;
            border-bottom: 1px rgba(0,0,0,.12) solid;

            .toolbar-text {
                line-height: 36px;
            }
            .md-button {
                min-width: 36px;
                width: 36px;

                svg {
                    fill: rgba(0, 0, 0, 0.541176);
                }
            }
        }
    }
}
