/* GLOBAL */
html, body, md-content {
    background: #f5f5f5;

    .center {
        text-align: center !important;
    }
    .align-right {
        text-align: right !important;
    }
    .pull-right {
        float: right;
    }
    .md-button {
        display: inline-table;
    }

    .heading-placeholder {
        padding: 0 30px 10px;
        h2 {
            margin-bottom: 0;
        }
    }

    /* SIDE NAV */
    md-sidenav.md-sidenav-left {
        width: 250px;
        min-width: 250px;
        max-width: 250px;

        md-list {
            width: 100%;

            md-item {
                display: inline-flex;

                md-item-content a {
                    text-align: left;
                    width: 250px;
                    margin: 0px 0;
                    padding: 4px 0 4px 20px;
                }
            }
        }
    }

    .md-sidenav-right {
        md-input-container {
            width: 100%;
        }
    }

    #list-card {
        .ordering-buttons {
            text-align: center;
            width: 84px;
            padding: 4px;
            .md-button.md-icon-button {
                margin: 0;
            }
        }
        .list-edit-cell {
            width: 60px;
        }
        .alternate {
            color: #1e88e5;
            background-color: #e3f2fd;
        }
        .md-toolbar-tools {
            color: #1e88e5;
            border-bottom: 1px rgba(0,0,0,.12) solid;

            .toolbar-text {
                line-height: 36px;
            }
            .md-button {
                min-width: 36px;
                width: 36px;

                svg {
                    fill: rgba(0, 0, 0, 0.541176);
                }
            }
        }
        .list-thumbnail {
            height: 45px;
            width: 45px;
        }
    }

    // Form
    .list-add-btn {
        margin-top: 5px;
    }
    label.md-datepicker {
        color: rgba(0, 0, 0, 0.541176);
        font-size: 12px;
        margin-bottom: -12px;
        margin-left: 3px;
        z-index: 100;
    }
    md-datepicker {
        margin: 5px 0 5px -10px;
        padding: 20px 0;

        .md-datepicker-button {
            display: none;
        }
        input {
            font-size: 16px;
        }
    }
}
