$primary-color: #79d3c6;

html, body {
    min-height:100%;
    height:auto;
}

#main {
    margin-top: 60px;
}

.header-background {
    width: 100%;
    height: 90px;
    position: fixed;
    top: -30px;
    background: #FFFFFF;
}

md-toolbar.global-header {
    position: fixed;
    background: #FFF;
    color: #000;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26),0px 2px 10px 0px rgba(0,0,0,0.16);

    .md-toolbar-tools {
        padding: 30px 0 30px 30px;

        a.logo-large {
            width: 300px;
            img {
                max-height: 50px;
                float: left;
                padding: 0 17px 0 0;
                border-right: 2px solid #000;
                margin-right: 17px;
                margin-top: 6px;
            }
            h2 {
                padding: 20px;
            }
        }
        a.logo-small {
            img {
                max-height: 50px;
            }
        }

        .global-header-link {
            color: black;
            padding: 13px 0;
            margin: -3px;
            border-radius: 0;
        }
        .toggle_menu {
            margin-right: 6px;
        }
    }
}

/* SIDE NAV */
md-sidenav.md-sidenav-right {
    width: 200px;
    max-width: 200px;
    position: fixed;

    md-list {
        width: 100%;

        md-item {
            display: inline-flex;

            md-item-content button {
                text-align: left;
                width: 200px;
                margin: 0px 0;
                padding: 4px 0 4px 20px;
                border-radius: 0;
            }
        }
    }
}

.hero {
    width: 100%;
    min-height: 600px;
    background-image: url("/static/img/home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

@media (max-width: 599px) {
    .hero {
        min-height: 300px;
    }
}

.strip {
    padding: 2.4rem 1.9rem 2.8rem 1.9rem;
    text-align: center;

    .strip-content {
        max-width: 822px;
        min-height: 60px;
        margin: 0 auto;
    }
}

.default-strip {
    h1 {
        color: $primary-color;
    }

    p {
        color: rgba(0,0,0,0.54);
    }
}

.primary-strip {
    background: $primary-color;

    h1 {
        color: #FFF;
    }

    p {
        color: #FFF;
    }
}

.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#imageDialog {
    md-toolbar {
        background: $primary-color;
        h2 {
            font-weight: bold;
        }
    }

    form {
        margin-bottom: 0;
    }
}

form.contact-form {
    margin-top: -95px;

    .contact-form-header-copy {
        text-align: left;
        color: #000 !important;
        padding-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 300;
    }
    .md-input-message-animation {
        text-align: right;
    }
    .contact-form-btn {
        float: right;
        color: $primary-color;
        font-weight: bold;
    }
}

md-toast {
    padding: 0;
    text-align: center;
}

footer {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, 0.1);

    .strip {
        .strip-content {
            text-align: left;
            min-height: 0;

            span {
                font-weight: 600;
                color: rgba(0,0,0,0.54);
            }

            a {
                display: inline-block;
                height: 0;
                margin-left: 2.5rem;
                position: relative;
                top: 0.5rem;

                img {
                    display: block;
                    position: relative;
                    top: -30px;
                    height: 30px;
                }
            }
        }
    }
}
