$primary-color: #79d3c6;

.left {
    text-align: left;
}

html, body {
    min-height: 100%;
    height: auto;
}

md-backdrop {
    position: fixed;
}

p, span {
    line-height: 1.4em;
    word-spacing: 1px;
}

md-content.md-default-theme {
    background: #F5F5F5;
}

#content {
    margin-top: 60px;
    background: #F5F5F5;
}

.header-background {
    width: 100%;
    height: 90px;
    position: fixed;
    top: -30px;
    background: #FFFFFF;
}

md-toolbar.global-header {
    position: fixed;
    background: #FFF;
    color: #000;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.26),0px 2px 10px 0px rgba(0,0,0,0.16);

    .md-toolbar-tools {
        min-height: 70;
        padding-right: 0;

        a.logo {
            img {
                max-height: 60px;
                padding: 0 17px 0 0;
            }
        }

        .global-header-link {
            color: black;
        }
        .toggle_menu {
            margin-right: 6px;
        }
    }

    .global-header-nav-button {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        margin-right: -5px;
        button {
            height: 100%;
            border-radius: 0;
            padding: 0;
            margin: 0;
            width: 70px;
        }
    }
}

/* SIDE NAV */
md-sidenav.md-sidenav-right {
    width: 250px;
    position: fixed;

    md-list {
        width: 100%;

        md-item {
            width: 100%;
            display: inline-flex;
            md-item-content {
                width: 100%;
                a {
                    text-align: left;
                    margin: 0;
                    width: 100%;
                    border-radius: 0;
                    padding: 3px 0 3px 15px;
                    font-size: 1.1em;
                }
            }
        }
    }
}

.hero {
    width: 100%;
    min-height: 600px;
    background-image: url("/static/img/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100%;

    .hero_text {
        background: #000000;
        opacity: 0.7;
        margin: 110px 25px 0;
        width: 350px;
        display: flex;

        h1 {
            color: #FFFFFF;
            font-size: 3.7em;
            padding: 10px 15px;
            margin: 0px;
        }
    }
}

@media (max-width: 599px) {
    .hero {
        min-height: 300px;
    }
}

.strip {
    padding: 2em 1.9rem 0 1.9rem;
    text-align: center;

    .strip-content {
        max-width: 822px;
        margin: 0 auto;

        md-card {
            padding: 20px;
        }

        .event-card {
            padding: 10px;

            .event-date-time {
                margin: 10px -10px;
                background: rgba(0, 0, 0, 0.1);
                color: rgba(0, 0, 0, 0.4);
                font-size: 0.9em;
                padding: 5px 10px;

                svg {
                    fill: rgba(0,0,0,0.3);
                    max-height: 90%;
                }

                .date {
                    float: left;
                }
                .time {
                    float: right;
                }
            }

            md-card-title {
                padding: 5px 0 10px;
                display: inline;
            }
            md-card-content {
                text-align: left;
                padding: 10px 2px;
            }
            md-card-actions {
                margin: 0;
            }
            a, button {
                background: $primary-color;
                color: #ffffff;
                margin: 10px 0;
                padding: 0 15px;

                span {
                    line-height: 2.4em;
                    font-weight: bold;
                    font-size: 1.1em;
                }
            }
        }

        .hp-card {
            text-align: left;
            margin: 0 -15px;

            md-card-title {
                position: relative;
                display: inline;
                padding: 0;
            }

            .hp-card-img {
                padding-left: 20px;
                img {
                    float: right;
                }
            }
            .hp-card-actions {
                a {
                    background: $primary-color;
                    color: #ffffff;
                    margin: 10px 0;
                    padding: 0 15px;

                    span {
                        line-height: 2.4em;
                        font-weight: bold;
                        font-size: 1.1em;
                    }
                }
                @media screen and (min-width: 600px) {
                    a {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                    }
                }
                @media screen and (max-width: 600px) {
                    a {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.hero_strip {
    padding: 2rem 1.9rem 3rem 1.9rem;
    height: 100px;

    .strip-content {
        max-width: 822px;
        margin: 0 auto;
    }
}

.default-strip {
    h1 {
        color: $primary-color;
    }

    p {
        color: rgba(0,0,0,0.54);
    }
}

.primary-strip {
    background: $primary-color;
    padding-bottom: 2em;

    h1 {
        color: #FFF;
    }

    p {
        color: #FFF;
    }
}

.thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#imageDialog {
    md-toolbar {
        background: $primary-color;
        h2 {
            font-weight: bold;
        }
    }

    form {
        margin-bottom: 0;
    }
}

form.contact-form {
    margin-top: -80px;

    .contact-form-header-copy {
        text-align: left;
        color: #000 !important;
        padding-bottom: 20px;
        font-size: 1.2rem;
        font-weight: 300;
        margin: -10px 0 5px;
    }
    .md-input-message-animation {
        text-align: right;
    }
    .contact-form-btn {
        float: right;
        color: $primary-color;
        font-weight: bold;
    }
}

md-toast {
    padding: 0;
    text-align: center;
}

footer {
    clear: both;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    background: #FFFFFF;
    margin-top: 2em;

    .strip {
        .strip-content {
            text-align: left;
            min-height: 0;

            .share_logos {
                float: left;
                span {
                    font-weight: 600;
                    color: rgba(0,0,0,0.54);
                }

                a {
                    display: inline-block;
                    height: 0;
                    margin-left: 2.5rem;
                    position: relative;
                    top: 0.5rem;

                    img {
                        display: block;
                        position: relative;
                        top: -30px;
                        height: 30px;
                    }
                }
            }

            @media (max-width: 599px) {
                .share_logos {
                    a {
                        margin-left: 1rem;
                    }
                }
            }
            .craft_ni_logo {
                float: right;
                img {
                        display: block;
                        position: relative;
                        top: -20px;
                        height: 60px;
                    }
            }
        }
    }
}
