<footer flex="none">
    <div class="strip default-strip">
        <div class="strip-content">
            <div class="share_logos">
                <span>Share:</span>
                <a href="http://www.facebook.com/sharer/sharer.php?u=sharonreganart.com" target="_blank">
                    <img src="/static/img/fb.png" alt="Facebook">
                </a>

                <a href="https://twitter.com/share?url=http://sharonreganart.co.uk&amp;text=Check out some of the fantastic work by Sharon Regan Art" target="_blank">
                    <img src="/static/img/twitter.png" alt="Twitter">
                </a>
            </div>
            <div class="craft_ni_logo" >
                <img src="/static/img/craft_ni.png" alt="Craft NI Directory">
            </div>
        </div>
    </div>
</footer>
