<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-content layout="row" flex>
        <md-list class="nav-list">
            <md-item>
                <md-item-content>
                    <md-button ng-click="scrollToEl('gallery')">Gallery</md-button>
                </md-item-content>
            </md-item>
            <md-item>
                <md-item-content>
                    <md-button ng-click="scrollToEl('contact')">Contact</md-button>
                </md-item-content>
            </md-item>
        </md-list>
    </md-content>
</md-sidenav>
