<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
    <md-content layout="row" flex>
        <md-list class="nav-list">
            {% for tag, page_meta in pages.iteritems() %}
                {% if page_meta['visible'] %}
                    <md-item>
                        <md-item-content>
                            <md-button href="{{ uri_for(tag) }}">{{ page_meta['nav'] }}</md-button>
                        </md-item-content>
                    </md-item>
                {% endif %}
            {% endfor %}
        </md-list>
    </md-content>
</md-sidenav>
