<html lang="en" ng-app="CMSApp">
    <head>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic">
        <link rel="stylesheet" href="/static/css/main.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.9.9/md-data-table.min.css">

        {% block extra_head %}{% endblock %}

        <meta name="viewport" content="initial-scale=1" />
    </head>

    <body layout="column" ng-controller="AppCtrl" ng-cloak>

        <md-content layout="row" flex class="content-wrapper">

            {% include 'sidebar.html' %}

            <div layout="column" flex class="content-wrapper" id="primary-col">

                {% include 'header.html' %}

                {% include "list.html" %}

            </div>

            <md-sidenav layout="column" class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
                <md-toolbar class="md-theme-light">
                    <h1 class="md-toolbar-tools">Add Item</h1>
                </md-toolbar>
                <md-content layout-padding>

                    {% include "form.html" %}

                </md-content>
            </md-sidenav>

        </md-content>

        <!-- Angular Material requires Angular.js Libraries -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

        <!-- Angular Material Library -->
        <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material-data-table/0.9.9/md-data-table.min.js"></script>

        <script src="/static/js/main.js"></script>

        {% block extra_js %}{% endblock %}

    </body>
</html>
